# 데이터 전처리

## 1. 데이터불러오기

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel('C:/Users/lucky/바탕 화면/데이터분석캡스톤디자인/데이터/국민건강영양조사/hn18_rawdata.xlsx',header=0)

In [3]:
data.head()

,Unnamed: 0,mod_d,ID,ID_fam,year,region,town_t,apt_t,psu,sex,...,N_VA_RAE,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC,LF_secur_y,LF_BUYER,LF_SAFE
0,1,2020.03.05.,A901020501,A9010205,2018,1,1,2,A901,1,...,115.820413,494.382289,74.621889,0.664332,0.509876,4.700086,5.846040,1.0,2.0,1.0
1,2,2020.03.05.,A901021301,A9010213,2018,1,1,2,A901,1,...,197.537509,928.975532,120.122882,1.175553,1.217959,16.821098,109.102194,1.0,1.0,1.0
2,3,2020.03.05.,A901021302,A9010213,2018,1,1,2,A901,2,...,601.616567,4168.181635,254.268098,0.638100,1.337223,4.785608,96.546711,1.0,1.0,1.0
3,4,2020.03.05.,A901022601,A9010226,2018,1,1,2,A901,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2020.03.05.,A901023303,A9010233,2018,1,1,2,A901,2,...,48.430128,580.848469,0.026089,0.877007,0.305087,6.082442,10.749817,1.0,1.0,1.0

In [4]:
data.shape

(7992, 737)

In [5]:
data.columns

Index(['Unnamed: 0', 'mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t',
       'apt_t', 'psu', 'sex',
       ...
       'N_VA_RAE', 'N_CAROT', 'N_RETIN', 'N_B1', 'N_B2', 'N_NIAC', 'N_VITC',
       'LF_secur_y', 'LF_BUYER', 'LF_SAFE'],
      dtype='object', length=737)

## 2. 설문항목과 관계없는 변수 지우기

### 2-1. 제거된 기본변수
- mod_d : 최종 DB 수정일
- ID : 개인 아이디
- ID_fam : 가구 아이디
- year : 조사연도
- wt : 가중치 항목들

In [6]:
data.drop(['Unnamed: 0', 'ID', 'ID_fam', 'year', 'wt_hs','wt_itvex','wt_pft','wt_vt','wt_nn','wt_ntr','wt_tot',
           'wt_pfnt','wt_pfvt','wt_pfvtnt','wt_vtnt','wt_nnnt','kstrata'], axis='columns', inplace=True)

### 2-2. 제거된 건강설문조사변수
- 주관식 부분(ex : 소득액, 만 00세 등)은 모두 제거한다.
- ainc_1 : 가구총소득(개방형)_소득액
- ainc : 월평균 가구총소득
- id_F : 아버지 아이디
- id_M : 어머니 아이디
- D_2_wk : 최근2주간 불편감일수
- DI1_ag : 고혈압 진단시기
- DI2_ag : 이상지질혈증 진단시기
- DI3_ag : 뇌졸중 진단시기
- DI5_ag : 심근경색증 진단시기
- DI6_ag : 협심증 진단시기
- DM2_ag : 골관절염 진단시기
- DM3_ag : 류마티스성 관절염 진단시기
- DM4_ag : 골다공증 진단시기
- DJ2_ag : 폐결핵 진단시기
- DJ4_ag : 천식 진단시기
- DE1_ag : 당뇨병 진단시기
- DE2_ag : 갑상선 질환 진단시기
- DC1_ag : 위암 진단시기
- DC2_ag : 간암 진단시기
- DC3_ag : 대장암 진단시기
- DC4_ag : 유방암 진단시기
- DC5_ag : 자궁경부암 진단시기
- DC6_ag : 폐얌 진단시기
- DC7_ag : 갑상선암 진단시기
- DC11_ag : 기타암1 진단시기
- DC12_ag : 기타암2 진단시기
- DF2_ag : 우울증 진단시기
- DL1_ag : 아토피피부염 진단시기
- DJ8_ag : 알레르기비염 진단시기(소아,청소년 포함)
- DJ6_ag : 부비동염 진단시기(소아,청소년 포함)
- DH4_ag : 중이염 진단시기(소아,청소년 포함)
- DH2_ag : 백내장 진단시기
- DH3_ag : 녹내장 진단시기
- DH6_ag : 황반변성 진단시기
- DN1_ag : 신부전 진단시기
- DK8_ag : B형간염 진단시기
- DK9_ag : C형간염 진단시기
- DK4_ag : 간경변증 진단시기
- DI9_ya : (소아, 청소년) 선천성심장질환 진단연령
- DF1_ya : (소아, 청소년) 주의력결핍장애 진단연령
- DN6_ya : (소아, 청소년) 요로감염 진단연령
- DJ9_ya : (소아, 청소년) 폐렴 진단연령
- BH9_13 : (소아인플루엔자(독감) 예방접종 횟수
- BH9_14_1_01 ~ BH9_14_1_03 : 인플루엔자(독감)1~3 접종시기-년도
- BH9_14_2_01 ~ BH9_14_2_03 : 인플루엔자(독감)1~3 접종시기-월
- LQ1_mn : 최근 1달간 와병일수
- LQ2_mn : 최근 1달간 결근일수
- EQ5D : EQ-5D index***
- AC3 : 손상 횟수
- AC3_1_01~ AC3_1_10 : 손상1~10 발생시기-년도
- AC3_2_01~ AC3_2_10 : 손상1~10 발생시기-월
- AC8_2_01~ AC8_2_10 : 손상1~10 와병일수 
- AC8_3_01~ AC8_3_10 : 손상1~10 결석일수 
- MH1_1 : 입원이용 횟수
- MO1_1 : 외래이용 횟수
- EC_wht_23 : 주당 평균 근로시간
- BD2 : (만12세이상) 음주 시작 연령
- BD2_14 : (만12세이상) 한번에 마시는 음주량_잔
- BA2_2_2 : (성인) 1년간 음주운전 횟수: 자전거
- BA2_2_4 : (성인) 1년간 음주운전 횟수: 오토바이
- BA2_2_6 : (성인) 1년간 음주운전 횟수: 자동차
- BP16_11 ~ 14 / BP16_21 ~ 24 / Total_slp_wk / Total_slp_wd : 2-13 정신건강 주관식변수
- BS2_1 : (성인) 흡연 시작연령
- BS2_2: (성인) 매일 흡연 시작연령
- BS3_2 : (성인) 하루평균흡연량
- BS3_3 : (성인) 가끔흡연자 최근 1달간 흡연일수
- BS6_2 : (성인) 과거흡연자 흡연기간(월 환산)
- BS6_2_1 : (성인) 과거흡연자 흡연기간(연)
- BS6_2_2 : (성인) 과거흡연자 흡연기간(월)
- BS6_3 : (성인) 과거흡연자 하루평균 흡연량
- BS6_4 : (성인) 과거흡연자 금연기간(월 환산)
- BS6_4_1 : (성인) 과거흡연자 금연기간(연)
- BS6_4_2 : (성인) 과거흡연자 금연기간(월)
- BS2 : (청소년) 담배 한두 모금 피운 연령
- BS10_2 : (청소년) 1달간 흡연일수
- BS10_3 : (청소년) 1달간 하루흡연량
- BE3_72 / BE3_73 / BE3_74 / BE3_82 / BE3_83 / BE3_84 / BE3_92 / BE3_93 / BE3_94 / BE3_76 / BE3_77 / BE3_78 / BE3_86 / BE3_87 / BE3_88 / BE8_1 / BE8_2 / BE3_32 / BE3_33 : 2-15 신체활동 주관식변수
- LW_mp_a / LW_ms_a / LW_pr_1 / LW_mt_a1 / LW_mt_a2 / LW_br_ch / LW_br_dur / LW_br_yy / LW_br_mm : 2-16 여성건강 주관식변수

In [7]:
data.drop(['ainc_1', 'ainc', 'id_F', 'id_M', 'D_2_wk','DI1_ag','DI2_ag','DI3_ag','DI5_ag','DI6_ag','DM2_ag','DM3_ag','DM4_ag',
           'DJ2_ag','DJ4_ag','DE1_ag','DE2_ag','DC1_ag','DC2_ag', 'DC3_ag','DC4_ag','DC5_ag','DC6_ag','DC7_ag','DC11_ag','DC12_ag',
           'DF2_ag','DL1_ag','DJ8_ag','DJ6_ag','DH4_ag','DH2_ag','DH3_ag','DH6_ag','DN1_ag','DK8_ag','DK9_ag','DK4_ag','DI9_ya','DF1_ya',
           'DN6_ya','DJ9_ya','BH9_13','BH9_14_1_01','BH9_14_1_02','BH9_14_1_03','BH9_14_2_01','BH9_14_2_02','BH9_14_2_03',
           'LQ1_mn','LQ2_mn','EQ5D','AC3','AC3_1_01','AC3_2_01','AC3_3_01','AC3_3e_01','AC8_1_01','AC8_1e_01',
           'AC3_4_01','AC8_2w_01','AC8_2_01','AC8_3w_01','AC8_3_01','AC3_1_02','AC3_2_02','AC3_3_02','AC3_3e_02','AC8_1_02','AC8_1e_02',
           'AC3_4_02','AC8_2w_02','AC8_2_02','AC8_3w_02','AC8_3_02','AC3_1_03','AC3_2_03','AC3_3_03','AC3_3e_03','AC8_1_03','AC8_1e_03',
           'AC3_4_03','AC8_2w_03','AC8_2_03','AC8_3w_03','AC8_3_03','MH1_1','MO1_1','EC_wht_23','BD2','BD2_14',
           'BA2_2_2','BA2_2_4','BA2_2_6','BP16_11','BP16_12','BP16_13','BP16_14','BP16_21','BP16_22','BP16_23',
           'BP16_24','Total_slp_wk','Total_slp_wd', 'BS2_1','BS2_2','BS3_2','BS3_3','BS6_2','BS6_2_1','BS6_2_2',
           'BS6_3','BS6_4','BS6_4_1','BS6_4_2','BS2','BS10_2','BS10_3','BE3_72','BE3_73','BE3_74','BE3_81','BE3_82',
           'BE3_83','BE3_84','BE3_91','BE3_92','BE3_93','BE3_94','BE3_75','BE3_76','BE3_77','BE3_78','BE3_85','BE3_86',
           'BE3_87','BE3_88','BE8_1','BE8_2','BE3_31','BE3_32','BE3_33','LW_mp_a','LW_ms_a','LW_pr','LW_pr_1','LW_mt',
           'LW_mt_a1','LW_mt_a2','LW_br','LW_br_ch','LW_br_dur','LW_br_yy','LW_br_mm'
], axis='columns', inplace=True)

### 2-3. 제거된 검진조사변수
- HE_fst : 공복시간
- HE_dprg : 임신개월수
- HE_PLS : 15초 맥박수
- HE_mPLS : 60초 맥박수
- HE_sbp1 : 1차 수축기 혈압
- HE_dbp1 : 1차 이완기 혈압
- HE_sbp2 : 2차 수축기 혈압
- HE_dbp2 : 2차 이완기 혈압
- HE_sbp3 : 3차 수축기 혈압
- HE_dbp3 : 3차 이완기 혈압
- HE_sbp : 최종 수축기 혈압(2,3차 평균)
- HE_dbp : 최종 이완기 혈압(2,3차 평균)
- HE_ht : 신장
- HE_wt : 체중
- HE_wc : 허리둘레
- HE_BMI : 체질량지수
- HE_glu : 공복혈당
- HE_HbA1c : 당화혈색소
- HE_chol : 총콜레스테롤
- HE_HDL_st2 : HDL-콜레스테롤(보정값)
- HE_TG : 중성지방
- HE_LDL_drct : LDL-콜레스테롤(직접검사)
- HE_HBsAg : B형간염표면항원(수치)
- HE_ast : AST(SGOT)
- HE_alt : ALT(SGPT)
- HE_hcv : C형간염항체(수치)
- HE_HB / HE_HB / HE_BUN / HE_crea / HE_WBC / HE_RBC / HE_Bplt / HE_hsCRP /HE_Uacid / HE_Folate / HE_VitA / HE_VitA / HE_Uph / HE_Usg / HE_Ucot / HE_NNAL / HE_UCREA / HE_UNa / HE_Ukal / HE_cough2 / HE_sput2 / HE_PFTag / T_NQ_PH_T / T_NQ_OCP_T / T_NQ_LS_T / GS_mea_r_1 / GS_mea_r_2 / GS_mea_r_3 / GS_mea_l_1 / GS_mea_l_2 / GS_mea_l_3 : 그 외 주관식 변수

In [8]:
data.drop(['HE_fst', 'HE_dprg', 'HE_PLS', 'HE_mPLS', 'HE_sbp1','HE_dbp1','HE_sbp2','HE_dbp2','HE_sbp3','HE_dbp3','HE_sbp','HE_dbp','HE_ht',
           'HE_wt','HE_wc','HE_BMI','HE_glu','HE_HbA1c','HE_chol', 'HE_HDL_st2','HE_TG','HE_LDL_drct','HE_HBsAg','HE_ast','HE_alt','HE_hcv',
           'HE_HB','HE_HB','HE_BUN','HE_crea','HE_WBC','HE_RBC','HE_Bplt','HE_hsCRP','HE_Uacid','HE_Folate','HE_VitA',
           'HE_VitA','HE_Uph','HE_Usg','HE_Ucot','HE_NNAL','HE_UCREA','HE_UNa','HE_Ukal',
           'HE_cough2','HE_sput2','HE_PFTag','T_NQ_PH_T','T_NQ_OCP_T','T_NQ_LS_T','GS_mea_r_1','GS_mea_r_2', 'GS_mea_r_3',
           'GS_mea_l_1','GS_mea_l_2','GS_mea_l_3'
], axis='columns', inplace=True)

### 2-4. 제거된 영양조사변수
- Y_BTH_WT / Y_BTH_WT / Y_MTM_S1 / Y_MTM_S2 / Y_MTM_D1 / Y_MTM_D2 / Y_FM_S1 / Y_FM_S2 / Y_FM_D1 / Y_FM_D2 / Y_MLK_ST / Y_WN_ST / N_MEAL_T / N_DIET / N_DIET_WHY / N_DT_DS / N_DT_ETC / N_DUSUAL / N_WAT_C / N_PRG /	N_BFD_Y	N_DAY /	N_INTK /	N_EN /	N_WATER	N_PROT / N_FAT / N_SFA / N_MUFA	/ N_PUFA / N_N3	N_N6 / N_CHOL / N_CHO / N_TDF / N_SUGAR / N_CA / N_PHOS / N_FE / N_K / N_VA / N_VA_RAE / N_CAROT / N_RETIN  /N_B1 / N_B2 / N_NIAC / N_VITC : 나트륨 섭취 변수를 제외한 주관식 변수

In [9]:
data.drop(['N_DIET','N_DIET_WHY','N_DT_DS','N_DT_ETC','N_DUSUAL','N_WAT_C','N_PRG','N_BFD_Y','N_DAY','N_INTK','N_EN','N_WATER',
           'N_PROT','N_FAT','N_SFA','N_MUFA','N_PUFA','N_N3','N_N6','N_CHOL','N_CHO','N_TDF','N_SUGAR','N_CA','N_PHOS','N_FE',
           'N_K','N_VA','N_VA_RAE','N_CAROT','N_RETIN','N_B1','N_B2','N_NIAC','N_VITC'
], axis='columns', inplace=True)

In [11]:
## 누락 데이터 개수 구하기
missing_data = data.isnull()

# '누락 데이터 개수' 데이터프레임을 만들기 위해 새로운 list 생성
column = missing_data.columns
missing_value = []

# 누락 데이터 개수를 세고 missing_value에 추가해준다
for col in missing_data.columns:
    missing_count = missing_data[col].value_counts()
    try:
        missing_value.append(missing_count[True])
    except:
        missing_value.append(0)

# 데이터프레임 생성
missing_dic = {'col_name' : column, 'value' : missing_value}
missing = pd.DataFrame(missing_dic)

# 결측치가 많은 순서대로 정렬
missing = missing.sort_values(by = 'value', ascending = False)

missing.to_csv('missing_1.csv', encoding='cp949', index = False)

In [12]:
tempt = missing.reset_index()
tempt.drop(['index'], axis=1, inplace = True)

# drop_name에 제거할 행 이름 담는다
drop_name = tempt['col_name']
drop_name = drop_name[0:108]
drop_name

0           BM13_6
1           DE1_35
2          BS12_45
3      BH9_14_4_03
4          BS12_35
          ...
103      HE_STRfh1
104      HE_IHDfh3
105      HE_IHDfh2
106        HE_rPLS
107        HE_nARM
Name: col_name, Length: 108, dtype: object

In [13]:
# data에서 drop_name에 포함된 att 제거(HE_nARM 위까지 제거)
for col in drop_name:
    if(col in data.columns):
        data.drop(col, axis = 1, inplace = True)
        
data.shape

(7992, 368)

In [14]:
data.dropna(axis=0, inplace = True)

data.shape

(6078, 368)

In [16]:
data.to_excel('hn18_first.xlsx', encoding='cp949', index = False)